<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Detail Message</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles3.css}">
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>Detail Message</title>
</head>
<body class="bodyhomepage">
<div th:insert="basicfrag :: navFrag"></div>

<div class="container" id="loginContainer">
    <div class="container loginContentForm">
        <h2>Detail Message</h2>

        <div class="titlelabel" th:object="${users}">
            <label>User:</label>
            <p th:text="*{username}"></p>
            <label>Email:</label>
            <p th:text="*{email}"></p>
        </div>

        <div th:object="${message}" class="textlabel">
            <label>Title:</label>
            <p th:text="*{title}"></p>
            <label>Content:</label>
            <p style="word-wrap: break-word" th:text="*{content}"></p>
            <label>Posted Date:</label>
            <p th:text="*{postedDate}"></p>
        </div>

        <!--<button class="btn btn-default"></button>-->
        <a class="btn btn-default" href="/">Close</a><br/>
    </div>

</div>

<div th:insert="basicfrag :: footerFrag"></div>
<div th:insert="basicfrag :: scriptFrag"></div>

<footer th:replace="base :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>